<section class="about-section">
  <div class="container">
    <div class="about-content">
      <div class="container">
        <h2>Sobre Nosotros</h2>
        <p>Somos una empresa líder en desarrollo web con un enfoque en la creación de soluciones digitales personalizadas para
          nuestros clientes. Nuestro equipo de expertos en tecnología está dedicado a ofrecer resultados excepcionales que
          impulsen el crecimiento de su negocio en línea.</p>
        <p>Con años de experiencia en la industria, hemos trabajado con una amplia gama de clientes, desde startups hasta
          empresas establecidas, ayudándoles a alcanzar sus objetivos digitales con éxito.</p>
        <p>En Mi Empresa, nos comprometemos a proporcionar servicios de desarrollo web de primera clase que se adapten a las
          necesidades únicas de cada cliente. Permítanos ayudarle a llevar su presencia en línea al siguiente nivel.</p>
      </div>
      <div class="about-image">
        <img src="assets\imagenes\imagen1.jpg" alt="Paisaje" class="landscape-image">
      </div>
    </div>
  </div>
</section>
