<article class="article">
  <h1 class="article-title">La importancia de escuchar música mientras trabajas</h1>
  <div class="article-content">
    <p>La música ha sido una compañera constante en nuestras vidas, acompañándonos en momentos de alegría, tristeza y,
      sí, incluso durante nuestras horas de trabajo. ¿Pero por qué es importante escuchar música mientras trabajamos?
    </p>
    <p>1. <strong>Aumenta la productividad:</strong> Estudios han demostrado que escuchar música puede mejorar la
      productividad en el trabajo. La música puede ayudar a crear un ambiente propicio para la concentración, bloqueando
      distracciones externas y permitiéndonos enfocarnos en nuestras tareas con mayor claridad y eficacia.</p>
    <p>2. <strong>Reduce el estrés y la ansiedad:</strong> La música tiene el poder de calmar nuestra mente y reducir el
      estrés y la ansiedad. Al proporcionar una banda sonora agradable para nuestro día laboral, la música puede
      ayudarnos a relajarnos y a mantenernos serenos incluso en momentos de presión y tensión.</p>
    <p>3. <strong>Estimula la creatividad:</strong> La música puede ser una fuente de inspiración y creatividad. Al
      escuchar melodías estimulantes y ritmos envolventes, nuestra mente se abre a nuevas ideas y soluciones creativas,
      ayudándonos a abordar los desafíos laborales con una perspectiva fresca y creativa.</p>
  </div>
</article>


<div class="video-container">
  <iframe src="https://www.youtube.com/embed/i_WTHkBuqbg?si=Lqeesu9ARBtD9cvw" title="YouTube video player"
    allowfullscreen></iframe>
</div>
